.containerupload {
    margin: 80px;
    flex-direction: column;
    padding-top: 12px;
    justify-content: center;
    align-items: left;
    object-fit: contain;
    grid-template-columns: 1fr 1fr;
    min-height: 57rem;
  }

  .asn-container {
    height: 900px;
    width: 400vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .asn-container > video {
    object-fit:cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left:0;
  }

  .asn-container > h1{
    color: white;
    padding-top: 0%;
  }

  .asn-container > p{
      color: white;
      padding-top: 0%;
  }

  .button-container {
    height: 100px;
    width: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%;
    }
  }