.containerupload {
    margin: 80px;
    flex-direction: column;
    padding-top: 12px;
    justify-content: center;
    align-items: left;
    object-fit: contain;
    grid-template-columns: 1fr 1fr;
    min-height: 57rem;
  }